<table id="myTable" style="width:100%" class="dataTables_wrapper"><thead><tr><th><?=$_LNG['manage']['user']['username']?></th><th><?=$_LNG['manage']['user']['day']?></th><th><?=$_LNG['manage']['user']['week']?></th><th><?=$_LNG['manage']['user']['month']?></th><th><?=$_LNG['manage']['user']['total']?></th><th><?=$_LNG['manage']['do']?></th></tr></thead><tbody><?=$_HTML['table']?></tbody><tfoot><tr><th><?=$_LNG['manage']['user']['username']?></th><th><?=$_LNG['manage']['user']['day']?></th><th><?=$_LNG['manage']['user']['week']?></th><th><?=$_LNG['manage']['user']['month']?></th><th><?=$_LNG['manage']['user']['total']?></th><th><?=$_LNG['manage']['do']?></th></tr></tfoot></table>

<script>
$(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>
<br/><br/>
<form method=post>
  <fieldset>
    <legend><?=$_LNG['manage']['user']['create']?></legend>
    <div class="form-group">
      <label><?=$_LNG['manage']['user']['username']?></label>
	  <input type="text" class="form-control" name="name" autocomplete="off">
    </div>
    <div class="form-group">
      <label><?=$_LNG['manage']['user']['pwd']?></label>
	  <input type="password" class="form-control" name="pwd" autocomplete="off">
    </div>
    <div class="form-group">
      <label><?=$_LNG['manage']['user']['day'].' '.$_LNG['manage']['user']['balance'] ?></label>
	  <input type="number" class="form-control" name="day" autocomplete="off">
    </div>
    <div class="form-group">
      <label><?=$_LNG['manage']['user']['week'].' '.$_LNG['manage']['user']['balance'] ?></label>
	  <input type="number" class="form-control" name="week" autocomplete="off">
    </div>
    <div class="form-group">
      <label><?=$_LNG['manage']['user']['month'].' '.$_LNG['manage']['user']['balance'] ?></label>
	  <input type="number" class="form-control" name="month" autocomplete="off">
    </div>
    <div class="form-group">
      <label><?=$_LNG['manage']['user']['total'].' '.$_LNG['manage']['user']['balance'] ?></label>
	  <input type="number" class="form-control" name="total" autocomplete="off">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>