
<br/><br/><br/>
<div class="container">
<div class="row justify-content-md-center">
<div class="col-md-8">
<?php if(@$_HTML['error_txt']){ ?>
<div class="alert alert-dismissible alert-danger">
  <?=$_HTML['error_txt']?>
</div>
<?php } ?>
<div class="card"><div class="card-body">
<form method=post>
  <fieldset>
    <legend><?=$_LNG['nav']['license/new']?></legend>
    <div class="form-group">
      <label><?=$_LNG['nav']['license/bulk']?></label>
      <select class="form-control" name="app_type">
	  <?=$_HTML['applist']?>
	  <?php if($_SESSION['login']==1){ ?><option value="n"><?=$_LNG['license']['s_key']?></option><?php }?>
      </select>
    </div>
    <div class="form-group">
      <label><?=$_LNG['license']['create_type']?></label>
      <select class="form-control" name="lice_type">
        <option value="d"><?=$_LNG['license']['type_d']?></option><option value="w"><?=$_LNG['license']['type_w']?></option><option value="m"><?=$_LNG['license']['type_m']?></option><?php if($_SESSION['login']==1){ ?><option value="s"><?=$_LNG['license']['type_s']?></option><option value="y"><?=$_LNG['license']['type_y']?></option><option value="n"><?=$_LNG['license']['type_n']?></option><?php }?>
      </select>
    </div>
    <div class="form-group">
      <label><?=$_LNG['license']['bulk_num']?></label>
      <input type="number" class="form-control" name="num">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>
</div></div></div></div><br/><br/><br/>