<table id="myTable" class="dataTables_wrapper" style="width:100%"><thead><tr><th><?=$_LNG['license']['application']?></th><th><?=$_LNG['license']['serial']?></th><th><?=$_LNG['license']['create_at']?></th><th><?=$_LNG['license']['type']?></th><th><?=$_LNG['license']['expire_at']?></th><th><?=$_LNG['license']['status']?></th><th><?=$_LNG['license']['do']?></th></tr></thead><tbody><?=$_HTML['table']?></tbody><tfoot><tr><th><?=$_LNG['license']['application']?></th><th><?=$_LNG['license']['serial']?></th><th><?=$_LNG['license']['create_at']?></th><th><?=$_LNG['license']['type']?></th><th><?=$_LNG['license']['expire_at']?></th><th><?=$_LNG['license']['status']?></th><th><?=$_LNG['license']['do']?></th></tr></tfoot></table>

<script>
$(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>