<!DOCTYPE html>
<html lang="<?=$_config['global']['lang']?>">
<head>
	<meta charset="UTF-8">
	<title><?=$_G['Site_Name']?></title>
	
    <link href="<?=http_url?>static/css/bootstrap.min.css" rel="stylesheet">
    <link href="<?=http_url?>static/css/jquery.dataTables.min.css" rel="stylesheet">
</head>
<body>
<script src="<?=http_url?>static/js/jquery.min.js"></script>
<script src="<?=http_url?>static/js/bootstrap.min.js"></script>
<script src="<?=http_url?>static/js/jquery.dataTables.min.js"></script>