
<br/><br/><br/>
<div class="container">
<div class="row justify-content-md-center">
<div class="col-md-8">

<div class="card text-white bg-primary mb-3">
<div class="card-body">
<h4 class="card-title"><?=$_LNG['home']['title']?></h4>
<p><?=$_LNG['home']['total']?> <?=$_SESSION['all_limit']?>/<?=$_SESSION['all_limit_a']?></p>
<p><?=$_LNG['home']['day']?> <?=$_SESSION['d_limit']?>/<?=$_SESSION['d_limit_a']?></p>
<p><?=$_LNG['home']['week']?> <?=$_SESSION['w_limit']?>/<?=$_SESSION['w_limit_a']?></p>
<p><?=$_LNG['home']['month']?> <?=$_SESSION['m_limit']?>/<?=$_SESSION['m_limit_a']?></p>
</div>
</div></div></div><br/><br/><br/>